.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.btn-action {
    margin: 0 3px 0 0;
}

.select2-selection {
    border: 1px solid #d1d3e2 !important;
    height: calc(1.5em + .75rem + 2px) !important;
}

.select2-selection__rendered {
    color: #6e707e !important;
}

.select2-selection--single .select2-selection__rendered {
    padding-top: 5px !important;
}

.select2-selection__arrow {
    top: 5px !important;
}

.has-error .select2-selection {
    border-color: #e74a3b !important;
}

.hidden {
    display: none;
}
